{% extends 'account/account_detail.html' %}




{% block content2 %}



<form action="{{action_url}}" method="post">
    {% csrf_token %}
    <div class="checkout__mian--header">
        <div class="section__shipping--address__content">
            <div class="row  shadow-sm" style=" margin: 5px; padding: 10px; border-radius: 10px;">
                <h2>تغییر رمز عبور</h2>
                {% if form.errors %}
                
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger my-3">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-lg-6 mb-12">
                    <div class="checkout__input--list " style="margin-bottom: 10px; margin-top: 10px;">
                        <label>

                            <input class="checkout__input--field border-radius-5" placeholder="رمز عبور قدیمی "
                                type="password" name="oldpassword">
                        </label>
                    </div>
                    {% if form.oldpassword.errors %}
                    <div class="alert alert-danger my-3">{{form.oldpassword.errors}}</div>

                    {% endif %}
                    <div class="checkout__input--list " style="margin-bottom: 10px;">
                        <label>

                            <input class="checkout__input--field border-radius-5" placeholder="رمز عبور جدید"
                                type="password" name="password1">
                        </label>
                    </div>
                    {% if form.password1.errors %}
                    <div class="alert alert-danger my-3">{{form.password1.errors}}</div>

                    {% endif %}
                    <div class="checkout__input--list " style="margin-bottom: 10px;">
                        <label>

                            <input class="checkout__input--field border-radius-5" placeholder="تایید رمز عبور"
                                type="password" name="password2">
                        </label>
                    </div>
                    {% if form.password2.errors %}
                    <div class="alert alert-danger my-3">{{form.password2.errors}}</div>

                    {% endif %}

                    <a href="{% url 'account_reset_password' %}"> رمز عبور را فراموش کرده اید؟</a>
                    <button class="variant__buy--now__btn primary__btn" type="submit" style="margin-top: 10px;">ذخیره
                        اطلاعات</button>
                </div>

            </div>
        </div>
</form>


{% endblock content2 %}