{% extends '_base.html' %}


{% block content %}
    
<form action="{{action_url}}" method="post">
{% csrf_token %}
<div class="checkout__mian--header">
    <div class="section__shipping--address__content">
        <div class="row  shadow-sm" style=" margin: 5px; padding: 10px; border-radius: 10px;">
            <p>ایمیل تان را وارد کنید</p>
            <div class="col-lg-6 mb-12">
                <div class="checkout__input--list ">
                    <label>
                        ایمیل
                        <input class="checkout__input--field border-radius-5" placeholder="email" type="email"
                            name="email" value={{user.email}}>
                    </label>
                </div>
                {% if form.first_name.errors %}
                <div class="alert alert-danger my-3">{{form.first_name.errors}}</div>

                {% endif %}
           

                <button class="variant__buy--now__btn primary__btn" type="submit" style="margin-top: 10px;">ذخیره اطلاعات</button>
            </div>

    </div>
</div>



</form>

{% endblock content %}
    