{% extends '_base.html' %}

{% load mathfilters %}
{% load price_tags %}
{% load persian_number %}
{% load solo_tags %}
{% load custom_mathfilter %}
{% load humanize %}
{% load tags_for_cart %}



{% block content %}




<!-- Start checkout page area -->
<div class="checkout__page--area">
    <div class="container">
        <div class="checkout__page--inner d-flex">
            <div class="main checkout__mian shadow"  style="margin: 20px; ">
                <header class="main__header checkout__mian--header mb-30">
                    <details class="order__summary--mobile__version">
                        <summary class="order__summary--toggle ">
                            <span class="order__summary--toggle__inner">
                                <span class="order__summary--toggle__icon">
                                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"
                                            fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="order__summary--toggle__text show">
                                    <span>جزییات سبد خرید</span>
                                    <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg"
                                        class="order-summary-toggle__dropdown" fill="currentColor">
                                        <path
                                            d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="order__summary--final__price">{{cart.get_total_price|apply_shiping_price|intcomma:False|to_persian}} تومان</span>
                            </span>
                        </summary>
                        <div class="order__summary--section">
                            <div class="cart__table checkout__product--table">
                                <table class="summary__table">
                                    <tbody class="summary__table--body">
                                        
                                        {% for item in cart %}
                                        
                                        {% with item.product_object|get_obj as pro_obj %}
                                            
                                        
                                            
                            <tr class="cart__table--body__items">
                                <td class="cart__table--body__list">
                                    <div class="product__image two  d-flex align-items-center">
                                        <div class="product__thumbnail border-radius-5">
                                            <a href="product-details.html"><img class="border-radius-5"
                                                    src="{{pro_obj.image.first.image.url}}" alt="cart-product"></a>
                                            <span class="product__thumbnail--quantity">{{item.quantity}}</span>
                                        </div>
                                        <div class="product__description">
                                            <h3 class="product__description--name h4"><a
                                                    href="{% url 'product_detail' pro_obj.id  %}">{{pro_obj.title}}</a></h3>
                                            
                                            
                                        </div>
                                    </div>

                                <td  class="cart__table--body__list"> <span class="text-muted">{{item.color}}-{{item.size}}</span></td>
                                   
                                </td>
                                <td class="cart__table--body__list">

                                    <span class="cart__price">{{item.total_price|intcomma:False|to_persian}}</span>
                                </td>
                                
    
                                    
    
                                
                            </tr>
                            {% endwith %}
                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="checkout__discount--code">
                                <form class="d-flex" action="#">
                                    <label>
                                        <input class="checkout__discount--code__input--field border-radius-5"
                                            placeholder="Gift card or discount code" type="text">
                                    </label>
                                    <button class="checkout__discount--code__btn primary__btn border-radius-5"
                                        type="submit">Apply</button>
                                </form>
                            </div> -->
                            <div class="checkout__total">
                                <table class="checkout__total--table">
                                    <tbody class="checkout__total--body">
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">قیمت جز </td>
                                            <td class="checkout__total--amount text-right" style="position: absolute ;left: 40px;">{{cart.get_total_price|intcomma:False|to_persian}}</td>
                                        </tr>
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">هزینه ارسال</td>
                                            <td class="checkout__total--calculated__text text-right" style="position: absolute ;left: 40px;">{% get_solo 'orders.Shiping_price' as shiping_price %}
                                                {{ shiping_price.shiping_price|intcomma:False }} تومان</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="checkout__total--footer">
                                        <tr class="checkout__total--footer__items">
                                            <td
                                                class="checkout__total--footer__title checkout__total--footer__list text-left">
                                            </td>
                                            <td
                                                class="checkout__total--footer__amount checkout__total--footer__list text-right">
                                                {{cart.get_total_price |apply_shiping_price|intcomma:False|to_persian}} تومان</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </details>
                    
                </header>
                <main class="main__content_wrapper" style="border-top: 1px solid rgba(128, 128, 128, 0.523); padding-top: 10px;">
                    <form action="{% url 'order_create' %}" method="post">
                        {% csrf_token %}
                        <div class="checkout__content--step section__contact--information">
                            <div
                                class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                <h2 class="section__header--title h3" style="font-size: x-large; color: var(--secondary-color);"> <b>اطلاعات سبد خرید</b></h2>

                            </div>
                            <div class="customer__information">
                                <div class="checkout__email--phone mb-12">
                                    <label>
                                        <input class="checkout__input--field border-radius-5" name="phone_number"
                                            placeholder="شماره تلفن همراه مانند : +989121234567" type="text" value="{% if user.phone_number %}{{user.phone_number}}{% else %}{% endif %}" name="phone_number">

                                    </label>
                                </div>
                                {% if form.phone_number.errors %}
                                <div class="alert alert-danger my-3">{{form.phone_number.errors}}</div>

                                {% endif %}

                            </div>
                        </div>
                        <div class="checkout__content--step section__shipping--address" >
                            <div class="section__header mb-25">
                                <h3 class="section__header--title" style=" color: var(--secondary-color);">اطلاعات سبد خرید</h3>
                                <p>برای تجربه کابری بهتر لطفا در بخش حساب کاربری بخش اطلاعات کاربری را پر کنید</p>
                            </div>
                            {% if form.postal_code.errors %}
                                        <div class="alert alert-danger my-3">{{form.postal_code.errors}}</div>

                                        {% endif %}
                            <div class="section__shipping--address__content">
                                <div class="row">
                                    <div class="col-lg-6 mb-12">
                                        <div class="checkout__input--list ">
                                            <label>
                                                <input class="checkout__input--field border-radius-5"
                                                    placeholder="نام" type="text" name="first_name"
                                                    value={{user.first_name}}>
                                            </label>
                                        </div>
                                        {% if form.first_name.errors %}
                                        <div class="alert alert-danger my-3">{{form.first_name.errors}}</div>

                                        {% endif %}
                                    </div>
                                    <div class="col-lg-6 mb-12">
                                        <div class="checkout__input--list">
                                            <label>
                                                <input class="checkout__input--field border-radius-5"
                                                    placeholder="نام خانوادگی" type="text" name="last_name"
                                                    value={{user.last_name}}>
                                            </label>
                                        </div>
                                        {% if form.last_name.errors %}
                                        <div class="alert alert-danger my-3">{{form.last_name.errors}}</div>

                                        {% endif %}
                                    </div>
                                    <div class="col-lg-6 mb-12">
                                        <div class="checkout__input--list checkout__input--select select">
                                    
                                            <select class="checkout__input--select__field border-radius-5"
                                                name="province">
                                                {% for pro in province %}

                                                <option selected value={{pro.id}}>{{pro.name}}</option>

                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                    {% if form.province.errors %}
                                    <div class="alert alert-danger my-3">{{form.province.errors}}</div>

                                    {% endif %}
                                    <div class="col-lg-6 mb-12">
                                        <div class="checkout__input--list">
                                            <label>
                                                <input class="checkout__input--field border-radius-5" placeholder="شهر"
                                                    type="text" name="city" value={{order_info.city}}>
                                            </label>
                                        </div>
                                        {% if form.city.errors %}
                                        <div class="alert alert-danger my-3">{{form.city.errors}}</div>

                                        {% endif %}
                                    </div>
                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label>
                                                <input class="checkout__input--field border-radius-5"
                                                    placeholder="محله٫خیابان٫پلاک..." type="text" name="address" value={{order_info.address}}>
                                            </label>
                                        </div>
                                        {% if form.address.errors %}
                                        <div class="alert alert-danger my-3">{{form.address.errors}}</div>

                                        {% endif %}
                                    </div>

                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label>
                                                <input class="checkout__input--field border-radius-5" name="postal_code"
                                                    placeholder="کد پستی (اختیاری)" type="number" value={{order_info.posatl_code}}>
                                            </label>
                                        </div>
                                        {% if form.postal_code.errors %}
                                        <div class="alert alert-danger my-3">{{form.postal_code.errors}}</div>

                                        {% endif %}
                                    </div>

                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label>
                                                <input class="checkout__input--field border-radius-5" name="order_note"
                                                    placeholder="اگر یادداشتی برای سفارش دارید اینجا بنویسید" type="texteria">
                                            </label>
                                        </div>
                                        {% if form.order_note.errors %}
                                        <div class="alert alert-danger my-3">{{form.order_note.errors}}</div>

                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="checkout__content--step__footer d-flex align-items-center">
                            <button class="continue__shipping--btn primary__btn border-radius-5" type="submit" style="margin-left: 5px;">پرداخت</button>
                            <a class="previous__link--content" href="{% url 'carts:cart_detail' %}" style="left: 10px;">بازگشت سبد خرید</a>
                        </div>
                    </form>
                </main>
                
            </div>
            <aside class="checkout__sidebar sidebar shadow" style="margin: 20px; ">
                <div class="cart__table checkout__product--table">
                    <table class="cart__table--inner">
                        <tbody class="cart__table--body">

                            {% for item in cart %}
                            {% with item.product_object|get_obj as pro_obj %}
                            
                         
                                
                           
                                
                            <tr class="cart__table--body__items">
                                <td class="cart__table--body__list">
                                    <div class="product__image two  d-flex align-items-center">
                                        <div class="product__thumbnail border-radius-5">
                                            <a href="product-details.html"><img class="border-radius-5"
                                                    src="{{pro_obj.image.first.image.url}}" alt="cart-product"></a>
                                            <span class="product__thumbnail--quantity">{{item.quantity}}</span>
                                        </div>
                                        <div class="product__description">
                                            <h3 class="product__description--name h4"><a
                                                    href="product-details.html">{{pro_obj.title}}</a></h3>
                                            
                                            
                                        </div>
                                    </div>

                                <td  class="cart__table--body__list"> <span class="text-muted">{{item.color}}-{{item.size}}</span></td>
                                   
                                </td>
                                <td class="cart__table--body__list">

                                    <span class="cart__price">{{item.total_price|intcomma:False|to_persian}}</span>
                                </td>
                                
    
                                    
    
                                
                            </tr>
                            {% endwith %}
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- <div class="checkout__discount--code">
                    <form class="d-flex" action="#">
                        <label>
                            <input class="checkout__discount--code__input--field border-radius-5"
                                placeholder="Gift card or discount code" type="text">
                        </label>
                        <button class="checkout__discount--code__btn primary__btn border-radius-5"
                            type="submit">Apply</button>
                    </form>
                </div> -->
                <div class="checkout__total">
                    <table class="checkout__total--table">
                        <tbody class="checkout__total--body">
                            <tr class="checkout__total--items">
                                <td class="checkout__total--title text-left">قیمت کل سفارش </td>
                                <td class="checkout__total--amount text-right" style="position: absolute ;left: 195px;">{{cart.get_total_price|intcomma:False|to_persian}} تومان</td>
                            </tr>
                            <tr class="checkout__total--items">
                                <td class="checkout__total--title text-left">هزینه بسته بندی و ارسال</td>
                                <td class="checkout__total--calculated__text text-right" style="position: absolute ;left: 195px;">                                میشود:{% get_solo 'orders.Shiping_price' as shiping_price %}
                                    {{ shiping_price.shiping_price|intcomma:False }}تومان</td>
                            </tr>
                        </tbody>
                        <tfoot class="checkout__total--footer">
                            <tr class="checkout__total--footer__items">
                                <td class="checkout__total--footer__title checkout__total--footer__list text-left">هزینه قابل پرداخت&nbsp;&nbsp;
                                </td>
                                <td class="checkout__total--footer__amount checkout__total--footer__list text-right" >
                                    {{cart.get_total_price |apply_shiping_price|intcomma:False|to_persian}} تومان</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- End checkout page area -->











{% endblock content %}