{% extends '_base.html' %}
{% load mathfilters %}
{% load custom_mathfilter %}
{% load persian_number %}
{% load humanize %}



{% block title %}
    {{product.title}}
{% endblock title %}
    

{% block content %}









<!-- Start breadcrumb section -->
<!-- <section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content text-center">
                    <h1 class="breadcrumb__content--title text-white mb-25">جزییات محصولات</h1>
                    <ul class="breadcrumb__content--menu d-flex justify-content-center">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" href="{% url 'home' %}">صفحه اصلی</a>
                        </li>&nbsp;/&nbsp;
                        <li class="breadcrumb__content--menu__items"><span class="text-white">{{product.category}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End breadcrumb section -->

<!-- Start product details section -->
<section class="product__details--section section--padding">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-md-2">
            <div class="col">
                <div class="product__details--media">
                    <div class="product__media--preview  swiper">
                        <div class="swiper-wrapper">



                            {% for item in images %}

                            <div class="swiper-slide">
                                <div class="product__media--preview__items">
                                    <a class="product__media--preview__items--link glightbox"
                                        data-gallery="product-media-preview" href="{{item.image.url}}"><img
                                            class="product__media--preview__items--img" src="{{item.image.url}}"
                                            alt="{{item.title}}"></a>
                                    <div class="product__media--view__icon">
                                        <a class="product__media--view__icon--link glightbox" href="{{item.image.url}}"
                                            data-gallery="product-media-preview">
                                            <svg class="product__media--view__icon--svg"
                                                xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443"
                                                viewBox="0 0 512 512">
                                                <path
                                                    d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                    fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                    stroke-width="32"></path>
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448">
                                                </path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="product__media--nav swiper">
                        <div class="swiper-wrapper">

                            {% for item in images %}

                            <div class="swiper-slide">
                                <div class="product__media--nav__items">
                                    <img class="product__media--nav__items--img" src="{{item.image.url}}"
                                        alt="product-nav-img">
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                        <!-- <div class="swiper__nav--btn swiper-button-next"></div>
                        <div class="swiper__nav--btn swiper-button-prev"></div> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product__details--info">

                    <h2 class="product__details--info__title mb-15">{{product.title}}</h2>
                    <div class="product__details--info__price mb-10">
                        {% if product.discount %}
                        <span class="old__price">{{product.price|intcomma:False|to_persian}} تومان</span>
                        <span class="price__divided"></span>
                        <b><span class="currency">{{ product.price|custom_add:product.discount.discount|intcomma:False|to_persian }} تومان</span></b>
                        
                        {% else %}
                        <b><span class="current__price">{{product.price|intcomma:False|to_persian}} تومان</span></b>
                        


                        {% endif %}


                    </div>
                    <div class="product__details--info__rating d-flex align-items-center mb-15">


                    </div>
                    <form action="{% url 'carts:cart_add' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="product__variant">
                            <div class="product__variant--list mb-10">
                                <fieldset class="variant__input--fieldset">
                                    <legend class="product__variant--title mb-8">یک گزینه را برای سایز انتخاب کنید :</legend>
                                    <select name="size" id="color" class="form-select form-select-lg mb-6"
                                        style="max-width: 237px;max-height: 100px;">

                                        {% for size in size %}

                                        <option class="shadow  btn" value={{size}}>{{size}}</option>

                                        {%endfor%}
                                    </select>

                                </fieldset>
                            </div>
                            <div class="product__variant--list mb-15">
                                <fieldset class="variant__input--fieldset weight">
                                    <legend class="product__variant--title mb-8">یک گزینه را برای رنگ انتخاب کنید :</legend>
                                    <select name="color" id="color" class="form-select form-select-lg mb-6"
                                        style="max-width: 237px;max-height: 100px;">
                                        {% for color in color %}

                                        <option class="shadow  btn" value={{color}}>{{color}}</option>
                                        {%endfor%}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="product__variant--list quantity d-flex align-items-center mb-20">
                                <input type="hidden" name="product" value="{{product.id}}">
                                <input type="checkbox" name="inplace" style="display:none ;">


                                <div class="quantity__box" style="margin: 10px;">


                                    <button type="button" class="quantity__value quickview__value--quantity increase"
                                        aria-label="quantity value" id="increment" value="Increase Value">+</button>
                                    <input type="number" name="quantity"
                                        class="quantity__number quickview__value--number" id="input" value="1" min="1"
                                        max="5" />

                                    <button type="button" class="quantity__value quickview__value--quantity decrease"
                                        aria-label="quantity value" id="decrement" value="Decrease Value">-</button>
                                </div>

                            </div>
                        </div>
                        
                        <a class="variant__wishlist--icon mb-15" href="{% url 'wishlist_add' product.id %}"
                            title="Add to wishlist">اضافه به لیست مورد علاقه
                            <svg class="quickview__variant--wishlist__svg" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path
                                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" />
                            </svg>

                        </a>
                        <button type="submit" class="variant__buy--now__btn primary__btn">استعلام موجودی و اضافه به سبد خرید</button>

                    </form>




                    <div class="product__variant--list mb-15">

                        

                    </div>

                    <div class="product__details--info__meta">
                        <p class="product__details--info__meta--list"><strong>کد محصول :</strong>
                            <span>{{product.id}}</span>
                        </p>
                        <p class="product__details--info__meta--list"><strong>رنگ :</strong> <span>

                                {% for item in color %}
                                {{item}}
                                {% if color|length > 1 %}
                                ,
                                {% else %}
                                -
                                {% endif %}

                                {% endfor %}

                            </span> </p>
                        <p class="product__details--info__meta--list"><strong>سایز : </strong> <span>
                                {% for item in size %}
                                {{item}}

                                {% if size|length > 1 %}
                                ,
                                {% else %}
                                -
                                {% endif %}

                                {% endfor %}
                            </span>
                        </p>
                        <p class="product__details--info__meta--list"><strong>دصته بندی :</strong>
                            <span>{{product.category}}</span>
                        </p>
                    </div>
                </div>
        
               
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End product details section -->

<!-- Start product details tab section -->
<section class="product__details--tab__section section--padding">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <ul class="product__details--tab d-flex mb-30">
                   
                    <li class="product__details--tab__list active" data-toggle="tab" data-target="#guid_size">مشخصات و راهنمای سایز</li>
                </ul>
                <div class="product__details--tab__inner border-radius-10">
                    
                        
                        
                            <div class="product__tab--content">
                                <div class="product__tab--content__step mb-30">
                                    <h2 class="product__tab--content__title h4 mb-10"> راهنمای سایز</h2>
                                    <p class="product__tab--content__desc">{{product.des|safe}}</p>
                                </div>
                                
                            </div>
                        
                        
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End product details tab section -->

<!-- Start product section -->
<section class="product__section product__section--style3 section--padding">
    <div class="container product3__section--container">
        <div class="section__heading text-center mb-50">
            <h2 class="section__heading--maintitle"> محصولات مرتبط</h2>
        </div>
        <div class="product__section--inner product__swiper--column4__activation swiper">
            <div class="swiper-wrapper">
                
                {% for product in related_product %}
                <div class="swiper-slide shadow">
                    <div class="product__items ">
                        <div class="product__items--thumbnail">
                            <a class="product__items--link" href="{% url 'product_detail' product.id %}">
                                <img class="product__items--img product__primary--img"
                                    src={{product.image.first.image.url}} alt="product-img">
                                <img class="product__items--img product__secondary--img"
                                    src={{product.image.all|get_sec }} alt="product-img">
                            </a>
                            {% if product.status == True %}

                            {% if product.discount or product.category.discount %}

                            {% if product.category.discount %}
                            <div class="product__badge">
                                <span
                                    class="product__badge--items sale">{{ product.category.discount.discount|mul:100}}%</span>
                            </div>
                            {% else %}
                            <div class="product__badge">
                                <span
                                    class="product__badge--items sale">{{product.discount.discount|mul:100}}%</span>
                            </div>
                            {% endif %}

                            {% endif %}


                            {% endif %}

                            {% if product.status == False  %}
                            <div class="product__badge">
                                <span class="product__badge--items sale">ناموجود</span>
                            </div>

                            {% endif %}
                        </div>
                        <div class="product__items--content">
                            <center>
                                <h3 class="product__items--content__title h4"><a
                                        href="{% url 'product_detail' product.id %}">{{product.title}}</a></h3>
                                <span class="product__items--content__subtitle">{{product.category}}</span>
                                <div class="product__items--price">
                                    {% if product.discount or product.category.discount %}
                                    {% if product.category.discount %}

                                    <span class="old__price">{{product.price|intcomma:False|to_persian}} تومان</span>
                                    <span class="price__divided"></span>
                                    <span
                                        class="current__price">{{ product.price|custom_add:product.category.discount.discount|intcomma:False|to_persian }} تومان</span>


                                    {% else %}
                                    <span class="old__price">{{product.price|intcomma:False|to_persian}} تومان</span>
                                    <span class="price__divided"></span>
                                    <span
                                        class="current__price">{{ product.price|custom_add:product.discount.discount|intcomma:False|to_persian }} تومان</span>

                                    {% endif %}
                                    {% else %}

                                    <span class="current__price">{{product.price|intcomma:False|to_persian}} تومان</span>


                                    {% endif %}
                                </div>

                                <div>
                                    <center>
                                        <ul>
                                            <li class=" product__items--action__list ">
                                                <a class="variant__buy--now__btn primary__btn"
                                                    href="{% url 'product_detail' product.id %}">
                                                    <svg class="product__items--action__btn--svg"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="22.51" height="20.443"
                                                        viewBox="0 0 14.706 13.534">
                                                        <g transform="translate(0 0)">
                                                            <g>
                                                                <path data-name="Path 16787"
                                                                    d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                                                                    transform="translate(0 -463.248)"
                                                                    fill="currentColor"></path>
                                                                <path data-name="Path 16788"
                                                                    d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                                                                    transform="translate(-1.191 -466.622)"
                                                                    fill="currentColor"></path>
                                                                <path data-name="Path 16789"
                                                                    d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                                                                    transform="translate(-2.875 -466.622)"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    <span class="add__to--cart__text">اضافه به سبد خرید</span>
                                                </a>
                                            </li>
                                            <li class="product__items--action__list">

                                                <a class=" product__items--action__btn"
                                                    href="{% url 'wishlist_add' product.id %}">
                                                    <svg class="product__items--action__btn--svg"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="25.51" height="23.443"
                                                        viewBox="0 0 512 512">
                                                        <path
                                                            d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                                                            fill="none" stroke="currentColor"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            stroke-width="32"></path>
                                                    </svg>
                                                    <span class="visually-hidden">مورد علاقه ها</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </center>
                             
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                    
                
                {% endfor %}
                    
                
            </div>
            <div class="swiper__nav--btn swiper-button-next"></div>
            <div class="swiper__nav--btn swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- End product section -->
<button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M112 244l144-144 144 144M256 120v292" />
    </svg></button>




<script>
    let counter = 0;

    function increment() {
        counter++;
    }

    function decrement() {
        counter--;
    }

    function get() {
        return counter;
    }

    const inc = document.getElementById("increment");
    const input = document.getElementById("input");
    const dec = document.getElementById("decrement");

    inc.addEventListener("click", () => {
        increment();
        input.value = get();
    });

    dec.addEventListener("click", () => {
        if (input.value > 0) {
            decrement();
        }
        input.value = get();
    });






</script>


{% endblock content %}